p {
  font-size: larger;
  color: purple;
  font-family: arial;
}

.button {
  background-color: red;
  padding: 2em 6em;
  color: white;
  align-left: 200px;
  border-radius: 4em;
}

#froggy {
  width: 10%;
  height: auto;
}
